english/presentations/ripoffs/audio/01 - Bitter Sweet Symphony \[Original\].mp3
english/presentations/ripoffs/audio/01.Torn.mp3
english/presentations/ripoffs/audio/13 - Stairway To Heaven.mp3
english/presentations/ripoffs/audio/Creep - Radiohead (Cover by Alexa Melo) (1).mp3
english/presentations/ripoffs/audio/creep.mp3
english/presentations/ripoffs/audio/desktop.ini
english/presentations/ripoffs/audio/Ednaswap - Torn.mp3
english/presentations/ripoffs/audio/Killing Joke - Eighties.mp3
english/presentations/ripoffs/audio/Lana Del Rey - Get Free (Official Audio).mp3
english/presentations/ripoffs/audio/Lis Sørensen - Brændt (Official Music Video).mp3
english/presentations/ripoffs/audio/Nirvana - Come As You Are.mp3
english/presentations/ripoffs/audio/nirvana.mp3
english/presentations/ripoffs/audio/Queen - Under Pressure.mp3
english/presentations/ripoffs/audio/queen.mp3
english/presentations/ripoffs/audio/Radiohead - Creep (1).mp3
english/presentations/ripoffs/audio/Spirit - Taurus.mp3
english/presentations/ripoffs/audio/starway.mp3
english/presentations/ripoffs/audio/The Damned  - Life Goes On.mp3
english/presentations/ripoffs/audio/The Hollies  The Air That I Breathe.mp3
english/presentations/ripoffs/audio/The Last Time - The Andrew Oldham Orchestra.mp3
english/presentations/ripoffs/audio/The Rolling Stones - The Last Time - Live.mp3
english/presentations/ripoffs/audio/torn.mp3
english/presentations/ripoffs/audio/Vanilla Ice - Ice Ice Baby.mp3
english/presentations/ripoffs/audio/verve.mp3
english/presentations/female singers/audio/01. - Green Light.mp3
english/presentations/female singers/audio/01. Hello.mp3
english/presentations/female singers/audio/02 Androgyny.mp3
english/presentations/female singers/audio/03 The Pretty Reckless - Make Me Wanna Die.mp3
english/presentations/female singers/audio/06 - The Moment (Storm Version).mp3
english/presentations/female singers/audio/11 - Hooverphonic - Wait For A While.mp3
english/presentations/female singers/audio/13 - Dope.mp3
english/presentations/female singers/audio/18 Want To.mp3
english/presentations/female singers/audio/Moloko - Statues - 09. I Want You.flac
english/presentations/female singers/audio/Wasted.mp3
